@model GUI_assignment_2.Models.OrderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedInAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedInAdults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedInKids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedInKids)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
